<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voterapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vote"
            android:label="@string/title_activity_vote" >
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.Vote" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin" >
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.Admin" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".End"
            android:label="@string/title_activity_end" >
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.End" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".Count"
            android:label="@string/title_activity_count" >
        </activity>
         <intent-filter>
            <action android:name="android.intent.action.Count" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </application>

</manifest>
